* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, black, white, black);
}

#sliderSection {
    width: 100%;
    text-align: center;
    margin: auto;
}

#sliderSection h1 {
    padding: 2px;
}

#reverseErrowSign,
#forwardErrowSign {
    padding: 220px 300px;
    font-size: 48px;
    color: transparent;
    text-decoration: none;
    position: absolute;
    top: 50px;
    left: 10px;
    font-weight: bold;
}

#reverseErrowSign:hover,
#forwardErrowSign:hover {
    cursor: pointer;
    color: transparent;
    font-weight: bold;
}

#forwardErrowSign {
    left: 50%;
}

#sliderSection img {
    width: 100%;
    height: 90vh;
    border: 0px solid black;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .0);
    transition: all 0.5s;
}